body{
  position: relative;
}
header {
  position: relative;
  background-color: rgb(82, 80, 80);
  height: 100px;
}

.a1{
  position: absolute;
  display: inline-block;
  margin-left: 410px;
  margin-top: 40px;
  color: white;}
.a2{
  position: absolute;
  display: inline-block;
  margin-left: 570px;
  margin-top: 40px;
  color: white;
}
.a3{
  position: absolute;
  display: inline-block;
  margin-left: 730px;
  margin-top: 40px;
  color: white;
}
.a4{
  position: absolute;
  display: inline-block;
  margin-left: 900px;
  margin-top: 40px;
  color: white;
}


header span img{
  position: absolute;
  margin-left: 200px;
  margin-top: 10px;
  
}
main  div img{
  position: absolute;
  margin-left: 200px;
  margin-top: 30px;
}
main img{
  position: absolute;
  margin-left: 200px;
  margin-top:505px ;
  
}
main span img{
  position: absolute;
  margin-left: 530px;
  margin-top:505px ;
}
main article img{
  position: absolute;
  margin-left: 860px;
  margin-top:505px
}
main article div img{
  position: absolute;
  margin-left: 200px;
  margin-top:910px ;
}
main article div p {
  position: absolute;
  margin-left: 700px;
  margin-top:930px ;
  width: 480px;
}
button{
  position: absolute;
  margin-left: 700px;
  margin-top:1290px ;
  background-color: black;
  color: white;

}
h2{
  position: absolute;
  margin-left: 700px;
  margin-top:910px ;
}
footer{
  position: absolute;
  background-color: rgb(82, 80, 80);
  height: 100px;
  margin-top: 1330px;
  width: 100%;
}